@use "./modules/mixins" as mxs;
@use "./modules/fonts" as fnt;
@use "./modules/variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

main {
    margin: 0 auto;
    max-width: 1320px;
    @include mxs.colFlex(space-between);
    animation: changePage 1000ms linear 1;

    @keyframes changePage {
        from {
            opacity: 50%;
        }

        to {
            opacity: 100%;
        }

    }

    header {
        padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 10);
        background-color: var(--color-darkBlue);
        @include mxs.rowFlex(space-between, center);

        @media only screen and (max-width: 1152px) {
            padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 3);
        }

        @media only screen and (max-width: 768px) {
            padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 1);
        }

        hgroup {
            @include mxs.rowFlex(center, center);

            .divBox {

                div {
                    background-color: var(--color-green);
                    border-radius: 0px 12px 12px 0px;
                    margin-right: var(--margin-thin);

                    &:first-of-type {
                        width: 18px;
                        height: 14px;
                        margin-bottom: calc(var(--margin-thin) + 1px);

                        @media only screen and (max-width: 1152px) {
                            width: 15px;
                            height: 11px;
                        }

                        @media only screen and (max-width: 768px) {
                            width: 13px;
                            height: 9px;
                        }
                    }

                    &:last-of-type {
                        width: 25px;
                        height: 17px;

                        @media only screen and (max-width: 1152px) {
                            width: 22px;
                            height: 14px;
                        }

                        @media only screen and (max-width: 768px) {
                            width: 18px;
                            height: 10px;
                        }
                    }
                }
            }

            h1 {
                a {
                    text-decoration: none;
                    @include fnt.h1;
                    text-shadow: 0px 0px 1px var(--color-black);
                    color: var(--color-white);
                    cursor: pointer;

                    @media only screen and (max-width: 768px) {
                        @include fnt.h1Mobile;
                    }
                }
            }
        }

        nav {

            ul {
                @include mxs.rowFlex(center, center, 40px);

                @media only screen and (max-width: 1152px) {
                    gap: 30px;
                }

                @media only screen and (max-width: 768px) {
                    gap: 10px;
                }

                li {
                    list-style-type: none;

                    &:last-of-type > a {
                        padding: calc(var(--padding-thin) * 4) calc(var(--padding-mid) * 3);
                        color: var(--color-darkBlue);
                        background-color: var(--color-white);
                        border-radius: 24px;
                        transition: var(--transition-both);

                        @media only screen and (max-width: 1152px) {
                            padding: calc(var(--padding-thin) * 3) calc(var(--padding-mid) * 3);
                        }

                        @media only screen and (max-width: 768px) {
                            padding: var(--padding-thin) var(--padding-mid);
                        }
                    }

                    a {
                        @include fnt.p;
                        font-weight: var(--openSans-weight-semiBold);
                        color: var(--color-white);
                        text-decoration: none;
                        transition: var(--transition-color);

                        @media only screen and (max-width: 768px) {
                            @include fnt.pMobile;
                        }

                        &:hover {
                            color: var(--color-green);
                        }
                    }
                }
            }
        }
    }

    section {
        padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 10);
        background-color: var(--color-darkBlue);
        @include mxs.rowFlex(space-between, center);

        @media only screen and (max-width: 1152px) {
            padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 3);
        }

        @media only screen and (max-width: 768px) {
            padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 1);
        }

        background-color: var(--color-green);
        color: var(--color-black);

        form {
            margin: 0 auto;
            width: 70%;
            padding: calc(var(--padding-mid) * 3) 0px;

            fieldset {
                @include mxs.colFlex(center, center, 20px);
                text-align: center;
                border-radius: var(--border-radius);
                border: 3px solid var(--color-darkBlue);
                background-color: var(--color-white);
                padding: var(--padding-mid) 0px calc(var(--padding-mid) * 3);
                margin-bottom: calc(var(--margin-mid) * 3);

                legend {
                    background-color: var(--color-white);
                    border-radius: 20px 0px 20px 0px;
                    padding: var(--padding-mid) calc(var(--padding-mid) * 2);
                    text-decoration: underline;
                    text-underline-offset: 2px;
                    text-decoration-thickness: 2px;
                    border: 3px solid var(--color-darkBlue);
                    background-color: var(--color-darkBlue);
                    color: var(--color-white);
                }
            }

            .infoField {
                input {
                    width: 80%;
                    padding: calc(var(--padding-thin) * 3) calc(var(--padding-thin) * 4);
                }
            }

            .genderField,
            .langField {

                input,
                label {
                    cursor: pointer;
                }
            }

            .emailField {
                input {
                    width: 80%;
                    padding: calc(var(--padding-thin) * 3) calc(var(--padding-thin) * 4);
                }
            }

            div {
                text-align: center;

                input {
                    @include mxs.button;
                    color: var(--color-darkBlue);
                    background-color: var(--color-white);
                    transition: var(--transition-both);

                    &:hover {
                        color: var(--color-white);
                        background-color: var(--color-darkBlue);
                    }

                    @media only screen and (max-width: 768px) {
                        @include mxs.buttonMobile;
                    }
                }
            }
        }
    }

    footer {
        @include mxs.rowFlex(space-between, start);
        padding: calc(var(--padding-mid) * 4) calc(var(--padding-mid) * 10);

        @media only screen and (max-width: 1152px) {
            padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 3);
        }

        @media only screen and (max-width: 768px) {
            padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 1);
            flex-direction: column;
            align-items: center;
        }

        .footerLeft {
            width: 40%;

            @media only screen and (max-width: 768px) {
                width: 100%;
            }


            hgroup {
                @include mxs.rowFlex(start, center);

                .divBox {

                    div {
                        background-color: var(--color-green);
                        border-radius: 0px 12px 12px 0px;
                        margin-right: var(--margin-thin);

                        &:first-of-type {
                            width: 18px;
                            height: 14px;
                            margin-bottom: calc(var(--margin-thin) + 1px);

                            @media only screen and (max-width: 1152px) {
                                width: 15px;
                                height: 11px;
                            }

                            @media only screen and (max-width: 768px) {
                                width: 13px;
                                height: 9px;
                            }
                        }

                        &:last-of-type {
                            width: 25px;
                            height: 17px;

                            @media only screen and (max-width: 1152px) {
                                width: 22px;
                                height: 14px;
                            }

                            @media only screen and (max-width: 768px) {
                                width: 18px;
                                height: 10px;
                            }
                        }
                    }
                }

                h3 {
                    a {
                        text-decoration: none;
                        @include fnt.h1;
                        text-shadow: 0px 0px 1px var(--color-black);
                        color: var(--color-darkBlue);
                        cursor: pointer;

                        @media only screen and (max-width: 768px) {
                            @include fnt.h1Mobile;
                        }
                    }
                }
            }

            p {
                padding: var(--padding-mid) 0px;
                color: var(--color-grey);
                @include fnt.p;

                @media only screen and (max-width: 768px) {
                    @include fnt.pMobile;
                }
            }
        }

        .footerRight {
            width: 50%;
            @include mxs.rowFlex(space-between, start);

            @media only screen and (max-width: 768px) {
                width: 100%;
                text-align: center;
            }

            dl {
                width: 30%;

                dt {
                    @include fnt.button;
                    font-weight: var(--openSans-weight-bold);
                    padding: 10px 0px;

                    @media only screen and (max-width: 768px) {
                        @include fnt.buttonMobile;
                    }
                }

                dd {
                    padding: 10px 0px;

                    &:nth-of-type(1) {
                        a {
                            &:hover {
                                color: var(--color-circle-orange);
                            }
                        }
                    }

                    &:nth-of-type(2) {
                        a {
                            &:hover {
                                color: var(--color-circle-yellow);
                            }
                        }
                    }

                    &:nth-of-type(3) {
                        a {
                            &:hover {
                                color: var(--color-circle-green);
                            }
                        }
                    }

                    a {
                        color: var(--color-grey);
                        text-decoration: none;
                        @include fnt.button;
                        font-weight: var(--openSans-weight-regular);
                        transition: var(--transition-color);

                        @media only screen and (max-width: 768px) {
                            @include fnt.buttonMobile;
                        }
                    }
                }
            }
        }
    }
}