:root {
    //colors
    body[data-theme="dark"] {
        --color-main-white: rgb(255, 255, 255);
        --color-white: rgb(255, 255, 255);
        --color-black: black;
        --color-green: rgb(101, 228, 163);
        --color-skyBlue: rgb(13, 187, 252);
        --color-circle: rgb(69, 96, 121);
        --color-darkBlue: rgb(10, 38, 64);
        --color-grey: rgb(128, 128, 128);
        --color-skyGreyBack: rgb(69, 96, 121);
        --color-skyGreyDark: rgb(149, 171, 188);
        --color-skyGreyLight: rgb(143, 182, 213);
        --color-circle-orange: rgb(252, 91, 0);
        --color-circle-yellow: rgb(236, 170, 0);
        --color-circle-green: rgb(0, 157, 16);
    }

    body[data-theme="light"] {
        --color-main-white: rgb(255, 255, 255);
        --color-white: rgb(255, 255, 255);
        --color-black: black;
        --color-green: rgb(10, 38, 64);
        --color-skyBlue: rgb(13, 187, 252);
        --color-circle: rgb(69, 96, 121);
        --color-darkBlue:  rgb(101, 228, 163);
        --color-grey: rgb(128, 128, 128);
        --color-skyGreyBack: rgb(10, 38, 64);
        --color-skyGreyDark: rgb(149, 171, 188);
        --color-skyGreyLight: rgb(143, 182, 213);
        --color-circle-orange: rgb(252, 91, 0);
        --color-circle-yellow: rgb(236, 170, 0);
        --color-circle-green: rgb(0, 157, 16);

    }

    //fonts
    --font-family-manrope: "Manrope",
    sans-serif;
    --font-family-openSans: "Open Sans",
    sans-serif;
    //units
    --manrope-weight-regular: 400;
    --manrope-weight-bold: 700;
    --openSans-weight-regular: 400;
    --openSans-weight-semiBold: 600;
    --openSans-weight-bold: 700;
    //
    --font-size-h1: clamp(30px, 4vw, 40px);
    --font-size-h2: clamp(32px, 4vw, 42px);
    --font-size-h3: clamp(25px, 2vw, 36px);
    --font-size-strong: clamp(17px, 2vw, 24px);
    --font-size-thin: clamp(10px, 2vw, 14px);
    --font-size-p: clamp(12px, 2vw, 16px);
    --font-size-buttons: clamp(15px, 1.3vw, 18px);
    //
    --font-size-h1-mobile: 23px;
    --font-size-h2-mobile: 25px;
    --font-size-h3-mobile: 21px;
    --font-size-strong-mobile: 16px;
    --font-size-thin-mobile: 10px;
    --font-size-p-mobile: 12px;
    --font-size-buttons-mobile: 13px;
    //
    --padding-thin: 2px;
    --padding-mid: 10px;
    --margin-thin: 2px;
    --margin-mid: 10px;
    --border-radius: 15px;
    // transition
    --transition-color: color 200ms ease-in-out;
    --transition-both: color 200ms ease-in-out,
    background-color 200ms ease-in-out;
}