:root {
  --font-family-manrope: "Manrope",
  sans-serif;
  --font-family-openSans: "Open Sans",
  sans-serif;
  --manrope-weight-regular: 400;
  --manrope-weight-bold: 700;
  --openSans-weight-regular: 400;
  --openSans-weight-semiBold: 600;
  --openSans-weight-bold: 700;
  --font-size-h1: clamp(30px, 4vw, 40px);
  --font-size-h2: clamp(32px, 4vw, 42px);
  --font-size-h3: clamp(25px, 2vw, 36px);
  --font-size-strong: clamp(17px, 2vw, 24px);
  --font-size-thin: clamp(10px, 2vw, 14px);
  --font-size-p: clamp(12px, 2vw, 16px);
  --font-size-buttons: clamp(15px, 1.3vw, 18px);
  --font-size-h1-mobile: 23px;
  --font-size-h2-mobile: 25px;
  --font-size-h3-mobile: 21px;
  --font-size-strong-mobile: 16px;
  --font-size-thin-mobile: 10px;
  --font-size-p-mobile: 12px;
  --font-size-buttons-mobile: 13px;
  --padding-thin: 2px;
  --padding-mid: 10px;
  --margin-thin: 2px;
  --margin-mid: 10px;
  --border-radius: 15px;
  --transition-color: color 200ms ease-in-out;
  --transition-both: color 200ms ease-in-out,
  background-color 200ms ease-in-out;
}
:root body[data-theme=dark] {
  --color-main-white: rgb(255, 255, 255);
  --color-white: rgb(255, 255, 255);
  --color-black: black;
  --color-green: rgb(101, 228, 163);
  --color-skyBlue: rgb(13, 187, 252);
  --color-circle: rgb(69, 96, 121);
  --color-darkBlue: rgb(10, 38, 64);
  --color-grey: rgb(128, 128, 128);
  --color-skyGreyBack: rgb(69, 96, 121);
  --color-skyGreyDark: rgb(149, 171, 188);
  --color-skyGreyLight: rgb(143, 182, 213);
  --color-circle-orange: rgb(252, 91, 0);
  --color-circle-yellow: rgb(236, 170, 0);
  --color-circle-green: rgb(0, 157, 16);
}
:root body[data-theme=light] {
  --color-main-white: rgb(255, 255, 255);
  --color-white: rgb(255, 255, 255);
  --color-black: black;
  --color-green: rgb(10, 38, 64);
  --color-skyBlue: rgb(13, 187, 252);
  --color-circle: rgb(69, 96, 121);
  --color-darkBlue: rgb(101, 228, 163);
  --color-grey: rgb(128, 128, 128);
  --color-skyGreyBack: rgb(10, 38, 64);
  --color-skyGreyDark: rgb(149, 171, 188);
  --color-skyGreyLight: rgb(143, 182, 213);
  --color-circle-orange: rgb(252, 91, 0);
  --color-circle-yellow: rgb(236, 170, 0);
  --color-circle-green: rgb(0, 157, 16);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.aboutMain {
  margin: 0 auto;
  max-width: 1120px;
  animation: changePage 500ms ease-out 1;
}
@keyframes changePage {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
.aboutMain header {
  padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 10) 0px;
  background-image: linear-gradient(var(--color-darkBlue) 64%, white 36%);
}
@media only screen and (max-width: 1152px) {
  .aboutMain header {
    padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 3) 0px;
    background-image: linear-gradient(var(--color-darkBlue) 66%, white 34%);
  }
}
@media only screen and (max-width: 768px) {
  .aboutMain header {
    padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 1) 0px;
    background-image: linear-gradient(var(--color-darkBlue) 70%, white 30%);
  }
}
.aboutMain header .headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}
.aboutMain header .headerTop hgroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.aboutMain header .headerTop hgroup .divBox div {
  background-color: var(--color-green);
  border-radius: 0px 12px 12px 0px;
  margin-right: var(--margin-thin);
}
.aboutMain header .headerTop hgroup .divBox div:first-of-type {
  width: 18px;
  height: 14px;
  margin-bottom: calc(var(--margin-thin) + 1px);
}
@media only screen and (max-width: 1152px) {
  .aboutMain header .headerTop hgroup .divBox div:first-of-type {
    width: 15px;
    height: 11px;
  }
}
@media only screen and (max-width: 768px) {
  .aboutMain header .headerTop hgroup .divBox div:first-of-type {
    width: 13px;
    height: 9px;
  }
}
.aboutMain header .headerTop hgroup .divBox div:last-of-type {
  width: 25px;
  height: 17px;
}
@media only screen and (max-width: 1152px) {
  .aboutMain header .headerTop hgroup .divBox div:last-of-type {
    width: 22px;
    height: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .aboutMain header .headerTop hgroup .divBox div:last-of-type {
    width: 18px;
    height: 10px;
  }
}
.aboutMain header .headerTop hgroup h1 a {
  text-decoration: none;
  font-family: var(--font-family-manrope);
  font-weight: var(--manrope-weight-bold);
  font-size: var(--font-size-h1);
  text-shadow: 0px 0px 1px var(--color-black);
  color: var(--color-white);
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .aboutMain header .headerTop hgroup h1 a {
    font-family: var(--font-family-manrope);
    font-weight: var(--manrope-weight-bold);
    font-size: var(--font-size-h1-mobile);
  }
}
.aboutMain header .headerTop nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media only screen and (max-width: 1152px) {
  .aboutMain header .headerTop nav ul {
    gap: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .aboutMain header .headerTop nav ul {
    gap: 10px;
  }
}
.aboutMain header .headerTop nav ul li {
  list-style-type: none;
}
.aboutMain header .headerTop nav ul li button {
  background-color: transparent;
  border: none;
}
.aboutMain header .headerTop nav ul li a, .aboutMain header .headerTop nav ul li button {
  font-family: var(--font-family-openSans);
  font-size: var(--font-size-p);
  font-weight: var(--openSans-weight-semiBold);
  color: var(--color-white);
  text-decoration: none;
  transition: var(--transition-color);
}
.aboutMain header .headerTop nav ul li a:hover, .aboutMain header .headerTop nav ul li button:hover {
  color: var(--color-green);
}
@media only screen and (max-width: 768px) {
  .aboutMain header .headerTop nav ul li a, .aboutMain header .headerTop nav ul li button {
    font-family: var(--font-family-openSans);
    font-size: var(--font-size-p-mobile);
  }
}
.aboutMain header .headerTop nav ul li:last-of-type > a {
  padding: calc(var(--padding-thin) * 4) calc(var(--padding-mid) * 3);
  color: var(--color-darkBlue);
  background-color: var(--color-white);
  border-radius: 24px;
  transition: var(--transition-both);
}
@media only screen and (max-width: 1152px) {
  .aboutMain header .headerTop nav ul li:last-of-type > a {
    padding: calc(var(--padding-thin) * 3) calc(var(--padding-mid) * 3);
  }
}
@media only screen and (max-width: 768px) {
  .aboutMain header .headerTop nav ul li:last-of-type > a {
    padding: var(--padding-thin) var(--padding-mid);
  }
}
.aboutMain header .headerMid {
  color: var(--color-white);
  padding-bottom: calc(var(--padding-mid) * 6);
}
@media only screen and (max-width: 1152px) {
  .aboutMain header .headerMid {
    padding-bottom: calc(var(--padding-mid) * 4);
  }
}
@media only screen and (max-width: 512px) {
  .aboutMain header .headerMid {
    padding-bottom: calc(var(--padding-mid) * 3);
  }
}
.aboutMain header .headerMid h2,
.aboutMain header .headerMid p {
  width: 100%;
  color: var(--color-white);
  text-align: center;
  letter-spacing: 1px;
}
.aboutMain header .headerMid > p:first-of-type {
  padding-top: calc(var(--padding-mid) * 6);
  padding-bottom: var(--padding-mid);
}
@media only screen and (max-width: 768px) {
  .aboutMain header .headerMid > p:first-of-type {
    padding-top: calc(var(--padding-mid) * 3);
  }
}
.aboutMain header .headerMid p {
  margin: 0 auto;
  width: 50%;
  font-family: var(--font-family-openSans);
  font-size: var(--font-size-p);
  font-weight: var(--openSans-weight-regular);
  text-shadow: 0px 0px 1px var(--color-black);
  padding-top: calc(var(--padding-mid) * 2);
}
@media only screen and (max-width: 1152px) {
  .aboutMain header .headerMid p {
    width: 74%;
  }
}
@media only screen and (max-width: 768px) {
  .aboutMain header .headerMid p {
    width: 90%;
    padding-top: var(--padding-mid);
    font-family: var(--font-family-openSans);
    font-size: var(--font-size-p-mobile);
  }
}
.aboutMain header .headerMid h2 {
  margin: 0 auto;
  width: 64%;
  font-family: var(--font-family-manrope);
  font-weight: var(--manrope-weight-regular);
  font-size: var(--font-size-h2);
  text-shadow: 0px 0px 1px var(--color-black);
}
@media only screen and (max-width: 1152px) {
  .aboutMain header .headerMid h2 {
    width: 74%;
  }
}
@media only screen and (max-width: 768px) {
  .aboutMain header .headerMid h2 {
    width: 100%;
    font-family: var(--font-family-manrope);
    font-weight: var(--manrope-weight-regular);
    font-size: var(--font-size-h2-mobile);
  }
}
.aboutMain header .headerBottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media only screen and (max-width: 1152px) {
  .aboutMain header .headerBottom {
    gap: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .aboutMain header .headerBottom {
    gap: 10px;
  }
}
.aboutMain header .headerBottom div:nth-of-type(1),
.aboutMain header .headerBottom div:nth-of-type(3) {
  width: 20%;
}
.aboutMain header .headerBottom div:nth-of-type(1) img,
.aboutMain header .headerBottom div:nth-of-type(3) img {
  width: 100%;
  aspect-ratio: 1;
  padding: var(--padding-mid) 0px;
  border-radius: calc(var(--border-radius) * 2);
}
@media only screen and (max-width: 768px) {
  .aboutMain header .headerBottom div:nth-of-type(1) img,
  .aboutMain header .headerBottom div:nth-of-type(3) img {
    padding: var(--padding-thin) 0px;
  }
}
.aboutMain header .headerBottom div:nth-of-type(2) {
  width: 33%;
  aspect-ratio: 1;
}
.aboutMain header .headerBottom div:nth-of-type(2) img {
  width: 100%;
  border-radius: calc(var(--border-radius) * 2);
}
.aboutMain section .artOne {
  padding: 0px calc(var(--padding-mid) * 10) calc(var(--padding-mid) * 2);
}
@media only screen and (max-width: 1152px) {
  .aboutMain section .artOne {
    padding: 0px calc(var(--padding-mid) * 3) calc(var(--padding-mid) * 2);
  }
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artOne {
    padding: 0px calc(var(--padding-mid) * 1) calc(var(--padding-mid) * 2);
  }
}
.aboutMain section .artOne hgroup {
  padding: calc(var(--padding-mid) * 0) calc(var(--padding-mid) * 4) calc(var(--padding-mid) * 4);
}
@media only screen and (max-width: 1152px) {
  .aboutMain section .artOne hgroup {
    padding: calc(var(--padding-mid) * 0) calc(var(--padding-mid) * 3) calc(var(--padding-mid) * 3);
  }
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artOne hgroup {
    padding: calc(var(--padding-mid) * 0) calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 2);
  }
}
.aboutMain section .artOne hgroup > p:first-of-type {
  color: var(--color-grey);
  padding-bottom: var(--padding-mid);
}
.aboutMain section .artOne hgroup h2 {
  margin: 0 auto;
  color: var(--color-darkBlue);
  width: 80%;
  font-family: var(--font-family-manrope);
  font-weight: var(--manrope-weight-regular);
  font-size: var(--font-size-h2);
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artOne hgroup h2 {
    width: 100%;
    font-family: var(--font-family-manrope);
    font-weight: var(--manrope-weight-regular);
    font-size: var(--font-size-h2-mobile);
  }
}
.aboutMain section .artOne hgroup p {
  color: var(--color-grey);
  margin: 0 auto;
  width: 80%;
  font-family: var(--font-family-openSans);
  font-size: var(--font-size-p);
  font-weight: var(--openSans-weight-regular);
  padding-top: calc(var(--padding-mid) * 2);
  line-height: 32px;
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artOne hgroup p {
    width: 100%;
    padding-top: var(--padding-mid);
    font-family: var(--font-family-openSans);
    font-size: var(--font-size-p-mobile);
    line-height: normal;
  }
}
.aboutMain section .artTwo {
  padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 10);
  background-color: var(--color-darkBlue);
}
@media only screen and (max-width: 1152px) {
  .aboutMain section .artTwo {
    padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 3);
  }
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artTwo {
    padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 1);
  }
}
.aboutMain section .artTwo hgroup {
  color: var(--color-white);
}
.aboutMain section .artTwo hgroup h2,
.aboutMain section .artTwo hgroup p {
  text-align: center;
  letter-spacing: 1px;
  color: var(--color-white);
  text-shadow: 0px 0px 1px var(--color-black);
}
.aboutMain section .artTwo hgroup p {
  font-family: var(--font-family-openSans);
  font-size: var(--font-size-p);
  font-weight: var(--openSans-weight-regular);
  padding-top: calc(var(--padding-mid) * 6);
  padding-bottom: var(--padding-mid);
}
@media only screen and (max-width: 1152px) {
  .aboutMain section .artTwo hgroup p {
    padding-top: calc(var(--padding-mid) * 5);
  }
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artTwo hgroup p {
    padding-top: calc(var(--padding-mid) * 3);
    font-family: var(--font-family-openSans);
    font-size: var(--font-size-p-mobile);
  }
}
.aboutMain section .artTwo hgroup h2 {
  font-family: var(--font-family-manrope);
  font-weight: var(--manrope-weight-regular);
  font-size: var(--font-size-h2);
  text-shadow: 0px 0px 1px var(--color-black);
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artTwo hgroup h2 {
    font-family: var(--font-family-manrope);
    font-weight: var(--manrope-weight-regular);
    font-size: var(--font-size-h2-mobile);
  }
}
.aboutMain section .artTwo .artTwoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  padding: calc(var(--padding-mid) * 5) 0px;
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artTwo .artTwoContainer {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1152px) {
  .aboutMain section .artTwo .artTwoContainer {
    padding: calc(var(--padding-mid) * 3) 0px;
  }
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artTwo .artTwoContainer {
    padding: calc(var(--padding-mid) * 2) 0px;
  }
}
.aboutMain section .artTwo .artTwoContainer div {
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artTwo .artTwoContainer div {
    padding: var(--padding-mid) 0px;
  }
}
.aboutMain section .artTwo .artTwoContainer div p:first-of-type {
  color: var(--color-green);
  font-family: var(--font-family-manrope);
  font-weight: var(--manrope-weight-regular);
  font-size: clamp(56px, 7vw, 96px);
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artTwo .artTwoContainer div p:first-of-type {
    font-size: 36px;
  }
}
.aboutMain section .artTwo .artTwoContainer div p:last-of-type {
  color: var(--color-white);
  font-family: var(--font-family-openSans);
  font-size: var(--font-size-p);
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artTwo .artTwoContainer div p:last-of-type {
    font-family: var(--font-family-openSans);
    font-size: var(--font-size-p-mobile);
  }
}
.aboutMain section .artThree {
  padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 10) calc(var(--padding-mid) * 8);
}
@media only screen and (max-width: 1152px) {
  .aboutMain section .artThree {
    padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 3) calc(var(--padding-mid) * 7);
  }
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artThree {
    padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 1) calc(var(--padding-mid) * 3);
  }
}
.aboutMain section .artThree hgroup {
  padding: calc(var(--padding-mid) * 4) calc(var(--padding-mid) * 4);
}
@media only screen and (max-width: 1152px) {
  .aboutMain section .artThree hgroup {
    padding: calc(var(--padding-mid) * 3) calc(var(--padding-mid) * 3);
  }
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artThree hgroup {
    padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 2);
  }
}
.aboutMain section .artThree hgroup > p:first-of-type {
  padding-bottom: var(--padding-mid);
}
.aboutMain section .artThree hgroup h2 {
  margin: 0 auto;
  width: 80%;
  color: var(--color-darkBlue);
  font-family: var(--font-family-manrope);
  font-weight: var(--manrope-weight-regular);
  font-size: var(--font-size-h2);
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artThree hgroup h2 {
    width: 100%;
    font-family: var(--font-family-manrope);
    font-weight: var(--manrope-weight-regular);
    font-size: var(--font-size-h2-mobile);
  }
}
.aboutMain section .artThree hgroup p {
  color: var(--color-grey);
  margin: 0 auto;
  width: 80%;
  font-family: var(--font-family-openSans);
  font-size: var(--font-size-p);
  font-weight: var(--openSans-weight-regular);
  padding-top: calc(var(--padding-mid) * 2);
  line-height: 32px;
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artThree hgroup p {
    width: 100%;
    padding-top: var(--padding-mid);
    font-family: var(--font-family-openSans);
    font-size: var(--font-size-p-mobile);
    line-height: normal;
  }
}
.aboutMain section .artThree .artThreeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artThree .artThreeContainer {
    flex-direction: column;
  }
}
.aboutMain section .artThree .artThreeContainer div {
  width: 30%;
  padding: 10px;
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artThree .artThreeContainer div {
    width: 80%;
  }
}
.aboutMain section .artThree .artThreeContainer div img {
  width: 100%;
  aspect-ratio: 1;
}
.aboutMain section .artThree .artThreeContainer div strong {
  font-family: var(--font-family-openSans);
  font-size: var(--font-size-strong);
  color: var(--color-darkBlue);
  font-weight: var(--openSans-weight-semiBold);
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artThree .artThreeContainer div strong {
    font-family: var(--font-family-openSans);
    font-size: var(--font-size-strong-mobile);
  }
}
.aboutMain section .artThree .artThreeContainer div p {
  font-family: var(--font-family-openSans);
  font-size: var(--font-size-p);
  color: var(--color-grey);
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artThree .artThreeContainer div p {
    font-family: var(--font-family-openSans);
    font-size: var(--font-size-p-mobile);
  }
}
.aboutMain section .artFour {
  padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 10);
  background-color: var(--color-darkBlue);
}
@media only screen and (max-width: 1152px) {
  .aboutMain section .artFour {
    padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 3);
  }
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artFour {
    padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 1);
  }
}
.aboutMain section .artFour hgroup {
  padding: calc(var(--padding-mid) * 4) 0px;
}
@media only screen and (max-width: 1152px) {
  .aboutMain section .artFour hgroup {
    padding: calc(var(--padding-mid) * 3) 0px;
  }
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artFour hgroup {
    padding: calc(var(--padding-mid) * 2) 0px;
  }
}
.aboutMain section .artFour hgroup > p:first-of-type {
  color: var(--color-white);
  padding-bottom: var(--padding-mid);
}
.aboutMain section .artFour hgroup h2 {
  color: var(--color-white);
  margin: 0 auto;
  width: 80%;
  font-family: var(--font-family-manrope);
  font-weight: var(--manrope-weight-regular);
  font-size: var(--font-size-h2);
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artFour hgroup h2 {
    width: 100%;
    font-family: var(--font-family-manrope);
    font-weight: var(--manrope-weight-regular);
    font-size: var(--font-size-h2-mobile);
  }
}
.aboutMain section .artFour hgroup p {
  color: var(--color-white);
  margin: 0 auto;
  width: 80%;
  font-family: var(--font-family-openSans);
  font-size: var(--font-size-p);
  font-weight: var(--openSans-weight-regular);
  padding-top: calc(var(--padding-mid) * 2);
  line-height: 32px;
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artFour hgroup p {
    width: 100%;
    padding-top: var(--padding-mid);
    font-family: var(--font-family-openSans);
    font-size: var(--font-size-p-mobile);
    line-height: normal;
  }
}
.aboutMain section .artFour .artFourContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: calc(var(--padding-mid) * 6);
}
@media only screen and (max-width: 1152px) {
  .aboutMain section .artFour .artFourContainer {
    padding-bottom: calc(var(--padding-mid) * 5);
  }
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artFour .artFourContainer {
    padding-bottom: calc(var(--padding-mid) * 4);
  }
}
.aboutMain section .artFour .artFourContainer > div {
  width: 80%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.aboutMain section .artFour .artFourContainer > div img {
  width: 150px;
  aspect-ratio: 1;
  border-radius: calc(var(--border-radius) * 2);
}
.aboutMain section .artFour .artFourContainer > div div strong {
  color: var(--color-white);
  font-family: var(--font-family-openSans);
  font-size: var(--font-size-strong);
  text-shadow: 0px 0px 1px var(--color-black);
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artFour .artFourContainer > div div strong {
    font-family: var(--font-family-openSans);
    font-size: var(--font-size-strong-mobile);
  }
}
.aboutMain section .artFour .artFourContainer > div div p {
  color: var(--color-white);
  font-family: var(--font-family-openSans);
  font-size: var(--font-size-p);
  font-weight: var(--openSans-weight-regular);
  text-shadow: 0px 0px 1px var(--color-black);
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artFour .artFourContainer > div div p {
    font-family: var(--font-family-openSans);
    font-size: var(--font-size-p-mobile);
  }
}
.aboutMain section .artFive {
  padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 10);
}
@media only screen and (max-width: 1152px) {
  .aboutMain section .artFive {
    padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 3);
  }
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artFive {
    padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 1);
  }
}
.aboutMain section .artFive .artFiveContainer {
  margin-top: calc(var(--margin-mid) * 10);
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: var(--color-darkBlue);
  padding: calc(var(--padding-mid) * 8) calc(var(--padding-mid) * 12);
}
@media only screen and (max-width: 1152px) {
  .aboutMain section .artFive .artFiveContainer {
    padding: calc(var(--padding-mid) * 6) calc(var(--padding-mid) * 6);
    margin-top: calc(var(--margin-mid) * 8);
  }
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artFive .artFiveContainer {
    padding: calc(var(--padding-mid) * 4) calc(var(--padding-mid) * 3);
    margin-top: calc(var(--margin-mid) * 6);
  }
}
.aboutMain section .artFive .artFiveContainer .bgCircle {
  position: absolute;
  width: 1293px;
  height: 1293px;
  border-radius: 50%;
  top: -913px;
  right: -813px;
  z-index: 0;
  background-color: rgb(28, 61, 91);
}
.aboutMain section .artFive .artFiveContainer h2 {
  position: relative;
  font-family: var(--font-family-manrope);
  font-weight: var(--manrope-weight-regular);
  font-size: var(--font-size-h2);
  color: var(--color-white);
  text-align: center;
  z-index: 2;
  padding-bottom: calc(var(--padding-mid) * 4);
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artFive .artFiveContainer h2 {
    font-family: var(--font-family-manrope);
    font-weight: var(--manrope-weight-regular);
    font-size: var(--font-size-h2-mobile);
  }
}
.aboutMain section .artFive .artFiveContainer form {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: calc(var(--padding-mid) * 3) calc(var(--padding-mid) * 6);
}
@media only screen and (max-width: 1152px) {
  .aboutMain section .artFive .artFiveContainer form {
    padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 4);
  }
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artFive .artFiveContainer form {
    padding: 0px;
    flex-direction: column;
    gap: 10px;
  }
}
.aboutMain section .artFive .artFiveContainer form input[type=email] {
  width: 70%;
  outline: none;
  font-family: var(--font-family-openSans);
  font-size: var(--font-size-buttons);
  font-weight: var(--openSans-weight-bold);
  padding: 12px 32px;
  border-radius: 22px;
  cursor: pointer;
  transition: var(--transition-both);
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artFive .artFiveContainer form input[type=email] {
    font-family: var(--font-family-openSans);
    font-size: var(--font-size-buttons);
    font-weight: var(--openSans-weight-bold);
    padding: 8px 16px;
    border-radius: 16px;
    cursor: pointer;
  }
}
.aboutMain section .artFive .artFiveContainer form input[type=submit] {
  font-family: var(--font-family-openSans);
  font-size: var(--font-size-buttons);
  font-weight: var(--openSans-weight-bold);
  padding: 12px 32px;
  border-radius: 22px;
  cursor: pointer;
  color: var(--color-darkBlue);
  background-color: var(--color-green);
  transition: var(--transition-both);
}
.aboutMain section .artFive .artFiveContainer form input[type=submit]:hover {
  color: var(--color-green);
  background-color: var(--color-darkBlue);
}
@media only screen and (max-width: 768px) {
  .aboutMain section .artFive .artFiveContainer form input[type=submit] {
    font-family: var(--font-family-openSans);
    font-size: var(--font-size-buttons);
    font-weight: var(--openSans-weight-bold);
    padding: 8px 16px;
    border-radius: 16px;
    cursor: pointer;
  }
}
.aboutMain footer {
  margin-top: var(--margin-mid);
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 0px;
  padding: calc(var(--padding-mid) * 4) calc(var(--padding-mid) * 10);
}
@media only screen and (max-width: 1152px) {
  .aboutMain footer {
    padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 3);
  }
}
@media only screen and (max-width: 768px) {
  .aboutMain footer {
    padding: calc(var(--padding-mid) * 2) calc(var(--padding-mid) * 1);
    flex-direction: column;
    align-items: center;
  }
}
.aboutMain footer .footerLeft {
  width: 40%;
}
@media only screen and (max-width: 768px) {
  .aboutMain footer .footerLeft {
    width: 100%;
  }
}
.aboutMain footer .footerLeft hgroup {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0px;
}
.aboutMain footer .footerLeft hgroup .divBox div {
  background-color: var(--color-green);
  border-radius: 0px 12px 12px 0px;
  margin-right: var(--margin-thin);
}
.aboutMain footer .footerLeft hgroup .divBox div:first-of-type {
  width: 18px;
  height: 14px;
  margin-bottom: calc(var(--margin-thin) + 1px);
}
@media only screen and (max-width: 1152px) {
  .aboutMain footer .footerLeft hgroup .divBox div:first-of-type {
    width: 15px;
    height: 11px;
  }
}
@media only screen and (max-width: 768px) {
  .aboutMain footer .footerLeft hgroup .divBox div:first-of-type {
    width: 13px;
    height: 9px;
  }
}
.aboutMain footer .footerLeft hgroup .divBox div:last-of-type {
  width: 25px;
  height: 17px;
}
@media only screen and (max-width: 1152px) {
  .aboutMain footer .footerLeft hgroup .divBox div:last-of-type {
    width: 22px;
    height: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .aboutMain footer .footerLeft hgroup .divBox div:last-of-type {
    width: 18px;
    height: 10px;
  }
}
.aboutMain footer .footerLeft hgroup h3 a {
  text-decoration: none;
  font-family: var(--font-family-manrope);
  font-weight: var(--manrope-weight-bold);
  font-size: var(--font-size-h1);
  text-shadow: 0px 0px 1px var(--color-black);
  color: var(--color-darkBlue);
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .aboutMain footer .footerLeft hgroup h3 a {
    font-family: var(--font-family-manrope);
    font-weight: var(--manrope-weight-bold);
    font-size: var(--font-size-h1-mobile);
  }
}
.aboutMain footer .footerLeft p {
  padding: var(--padding-mid) 0px;
  color: var(--color-grey);
  font-family: var(--font-family-openSans);
  font-size: var(--font-size-p);
}
@media only screen and (max-width: 768px) {
  .aboutMain footer .footerLeft p {
    font-family: var(--font-family-openSans);
    font-size: var(--font-size-p-mobile);
  }
}
.aboutMain footer .footerRight {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 0px;
}
@media only screen and (max-width: 768px) {
  .aboutMain footer .footerRight {
    width: 100%;
    text-align: center;
  }
}
.aboutMain footer .footerRight dl {
  width: 30%;
  text-align: center;
}
.aboutMain footer .footerRight dl dt {
  font-family: var(--font-family-openSans);
  font-size: var(--font-size-buttons);
  font-weight: var(--openSans-weight-bold);
  color: var(--color-darkBlue);
  padding: 10px 0px;
}
@media only screen and (max-width: 768px) {
  .aboutMain footer .footerRight dl dt {
    font-family: var(--font-family-openSans);
    font-size: var(--font-size-buttons-mobile);
  }
}
.aboutMain footer .footerRight dl dd {
  padding: 10px 0px;
}
.aboutMain footer .footerRight dl dd:nth-of-type(1) a:hover {
  color: var(--color-circle-orange);
}
.aboutMain footer .footerRight dl dd:nth-of-type(2) a:hover {
  color: var(--color-circle-yellow);
}
.aboutMain footer .footerRight dl dd:nth-of-type(3) a:hover {
  color: var(--color-circle-green);
}
.aboutMain footer .footerRight dl dd a {
  color: var(--color-grey);
  text-decoration: none;
  font-family: var(--font-family-openSans);
  font-size: var(--font-size-buttons);
  font-weight: var(--openSans-weight-regular);
  transition: var(--transition-color);
}
@media only screen and (max-width: 768px) {
  .aboutMain footer .footerRight dl dd a {
    font-family: var(--font-family-openSans);
    font-size: var(--font-size-buttons-mobile);
  }
}/*# sourceMappingURL=about.css.map */